<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light justify-content-between">
      <a class="navbar-brand" href="/articles">Wikinimous</a>
      <a class="btn btn-outline-success my-2 my-sm-0" role="buttom" href="/articles/new">New Article</a>
    </nav>
    <%= yield %>
  </body>
</html>
